@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18.2px;
}

nav.navigation-top {
  box-sizing: border-box;
  text-align: center;
  max-width: 810px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

ul.navigation-top-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
  margin: 10px 0;
}

header.navigation {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: +2;
  display: flex;
  justify-content: center;
  text-align: center;

}

.navigation-top-list li {
  list-style-type: none;
}

.navigation-top-list a {
  display: flex;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #ccc;
  padding: 10px 5px;
}

.navigation a:hover {
  color: #eee;
}

.navigation a.selected {
  color: #6add44;
  /*color: #6fe747;*/
}

.navigation a img {
  opacity: 0.8;
}

@media only screen and (any-hover: hover), (min-width: 0\0) {
  .navigation a img:hover {
    opacity: 0.95;
  }

  .navigation a.selected:hover {
    /*color: #81ff57;*/
    color: #7bff4f;
    /*color: #8aff63;*/
  }
}

main {
  display: flex;
  justify-content: center;
  font-size: 1em;
  margin-top: calc(21px + 1.5em);
}

section {
  text-align: justify;
  width: 770px;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  min-height: calc(100vh - 76px);
}

section.home {
  background-color: hsla(0,0%,0%, 0.8);
  color: white;
}

section.bio {
  background-color: hsla(0,0%,100%, 0.9);
  color: black;
}

section.about {
  /*background-color: hsla(0,0%,100%, 0.9);*/
  color: white;
}

section.about a {
  color: #0FF;
}

div.backdrop {
  position: fixed;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 1;
  height: 100vh;
  width: 100vw;
}

div.home {
  background-image: url('/static/bckgd_2.jpg');
}

div.bio {
  background-image: url('/static/bckgd_4.jpg');
  /*opacity: 0.5;*/
}

div.about {
  background-color: hsla(0,0%,0%, 0.8);
}

.home h2 {
  color: #e84;
  /*color: #b05f09;*/
}

@media only screen and (max-width: 810px), only screen and (max-device-width: 810px) {
  section {
    width: calc(100vw - 40px);
  }

  .home img {
    height: calc(100vw / (810 / 200));
    width: calc(100vw / (810 / 266));
    min-height: 100px;
    min-width: 133px;
  }
}

@media only screen and (max-device-width: 810px) {
  main section {
    font-size: .9em;
    line-height: 1.2;
  }

  .horizontal li {
    font-size: 0.9em;
  }

  div.sticky {
    top: calc(24px + 1.5em);
  }
}

@media only screen and (min-device-width: 810px) {
  div.sticky {
    top: calc(21px + 1.5em);
  }
}

.home img {
  float: left;
  margin: 0 10px 5px 0;
  /*background-color: white;*/
}

section.experience {
  text-align: left;
}

.experience ul {
  padding-left: 20px;
  list-style-position: top;
}

.experience .list h3 {
  margin: 10px 0;
  display: inline-block;
}

.experience .list time {
  margin: 12px 0;
  float: right;
}
.experience .list header:after { clear: both; }

.experience .list header {
  display: inline-block;
  width: 100%;
  background-color: #beebc3;
  border-top: 1px solid #cfd;
  border-bottom: 1px solid #8b9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  position: relative;
  left: -20px;
  margin-top: 10px;
}

li.type {
  list-style-type: none;
  margin-left: 0;
}
div.sticky {
  position: sticky;
  z-index: +1;
}

ul.type {
  margin-top: 0;
  padding-left: 0;
}

.type ul {
  margin-left: 10px;
}

ul.list {

  list-style-type: none;
  margin-left: 0;
  margin-bottom: 10px;
}

.type h2 {
  margin-top: 0px;
  background-color: #b05f09;
  color: white;
  position: relative;
  left: -20px;
  padding-left: 10px;
  width: calc(100% + 30px);
  max-width: 810px;
  border-top: 2px solid #c98b49;
  border-bottom: 2px solid #794006;
  border-radius: 3px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 2px #000;
}

.details li {
  list-style-type: circle;
}

ul.horizontal {
  padding-left: 20px;
}

.horizontal li {
  margin-right: 10px;
  position: relative;
  justify-content: left;
  top: -5px;
}

li.type {
  clear: both;
}

#app {
  padding-bottom: 28px;
}

footer.app {
  position: fixed;
  bottom: 0;
  background-color: black;
  color:  #fcba03;
  text-align: center;
  width: 100%;
  z-index: +1;
}

.contact dl {
  text-align: center;
}

.contact dt {
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.contact dd {
  margin: 0;
}

a.resume-download {
  margin: 0 10px;
}

.bio img {
  margin: 10px 10px 10px 0;
}

.bio img.floated {
  float: left;
}

.bio img.wide {
  position: fixed;
  top: 48px;
  left: 10px;
  width: calc((100vw - 850px) / 2);
  height: calc((100vw - 850px) / 1.67);
}

.bio img.stacked {
  width: calc(100vw - 40px);
  height: calc((100vw - 40px) * 1.2);
}

.bio img.small {
  float: left;
  width: calc(100vw - 280px);
  height: calc((100vw - 280px) * 1.2);
}
